<h2>Cadastro de nova promoção</h2>

<%= form_for @promotion do |f| %>
  <%= f.label :name, 'Nome' %><br>
  <%= f.text_field :name %><br>

  <%= f.label :description, 'Descrição' %><br>
  <%= f.text_field :description %><br>
  
  <%= f.label :code, 'Código' %><br>
  <%= f.text_field :code %><br>
  
  <%= f.label :discount_rate, 'Desconto' %><br>
  <%= f.text_field :discount_rate %><br>
  
  <%= f.label :coupon_quantity, 'Quantidade de cupons' %><br>
  <%= f.text_field :coupon_quantity %><br>
  
  <%= f.label :expiration_date, 'Data de término' %><br>
  <%= f.text_field :expiration_date %><br>
  
  <%= f.submit 'Criar promoção' %>
<% end %>