<h2>Detalhes do cupom: <%= @promotion.name %></h2>

<% if flash[:notice] %>
  <p><em style='color: blue;'><%= flash[:notice] %></em></p>
<% end %>

<%= link_to 'Voltar', promotions_path %>
<p>Cadastrada por: <%= @promotion.user.email  %> </p>

<hr>
<dl>
  <dt>Nome:</dt>
  <dd><%= @promotion.name %></dd>
  <dt>Descrição:</dt>
  <dd><%= @promotion.description %></dd>
  <dt>Porcentagem do Desconto:</dt>
  <dd><%= number_to_percentage @promotion.discount_rate, precision: 2, separator: ',' %></dd>
  <dt>Código:</dt>
  <dd><%= @promotion.code %></dd>irb
  <dt>Data de expiração:</dt>
  <dd><%= I18n.localize @promotion.expiration_date %></dd>
  <dt>Quantidade de cupons:</dt>
  <dd><%= @promotion.coupon_quantity %></dd>
  <dt>Cupons disponíveis:</dt>
  <dd><%= I18n.t :coupon, 
        count: @promotion.reload.coupons.where( status: 'active' ).size %></dd>
</dl>
<hr>

<%= link_to 'Editar Promoção', edit_promotion_path(@promotion) %>
<%= link_to 'Excluir', @promotion, method: :delete, data: { confirm: 'Remover promoção?'} %>
<br>

<% unless @promotion.coupons.size == @promotion.coupon_quantity  %>
  <%= link_to 'Gerar Cupons', generate_coupons_promotion_path(@promotion), method: :post %>
<% end %>

<% if @promotion.coupons.any? %>
  <h3>Cupons disponíveis</h3><br>
    <% @promotion.coupons.each do |coupon| %>
      <div id="coupon-<%= coupon.id %>" > 
        <% inactive_status = coupon.inactive? ? "(#{t(coupon.status)})" : ''  %>
        <p><%= "#{coupon.code} #{inactive_status}"  %></p>
        <% if coupon.active? %>
          <%= link_to 'Desativar', inactivate_coupon_path(coupon), method: :post  %>
        <% end %>
      </div>
  <% end %>
<% end %>

